<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brunab.projeto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Telas.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.brunab.projeto.Telas.Cadastro_Locacao" />
        <activity android:name="com.example.brunab.projeto.Telas.Cadastro_Veiculos" />
        <activity android:name="com.example.brunab.projeto.Telas.Cadastro_Clientes" />
        <activity android:name="com.example.brunab.projeto.Telas.Cadastro_Funcionarios" />
        <activity android:name="com.example.brunab.projeto.Telas.Veiculos" />
        <activity android:name="com.example.brunab.projeto.Telas.Clientes" />
        <activity android:name="com.example.brunab.projeto.Telas.Funcionarios"></activity>
    </application>

</manifest>